.date-list
    height 100vh
    display flex
    flex-wrap wrap
    background #fff

    > span
        flex 0 0 20%
        padding 25px
        font-size 14px
        font-weight 500
        border-bottom solid 1px #ddd
        border-right solid 1px #ddd

        &:nth-child(even)
            background #f2f2f2

        .icon
            display block
            margin-bottom 14px
            font-size 20px


.day-modal
    absolute left top
    size(100%)
    app_flex()
    z-index 2
    background rgba(0,0,0,0.7)

    .c
        width 100%
        max-width 500px
        background #fff
        padding 14px
        border-radius(4px)

        .t
            display grid
            grid-template-columns auto auto
            justify-content space-between

            span
                &:first-child
                    font-size 14px
                    font-weight 600

                &:last-child
                    color red
                    font-size 14px
                    font-weight 600