global-reset()

*
    box-sizing border-box

body
    background #f3f3f3
    font-family $system_font
    font-size 14px
    heigth 100vh

    input, select, textarea
        font-family $system_font
        font-size 14px


.app-container
    width 100%
    max-width 1170px
    margin 0px auto
    margin-top 30px